* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

header {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: #E0FFFF;
}

.all {
  width:1200px;
}

.avatar {
  display: block;
  justify-items: center; 
}

.main_information {
  margin-left: auto;
  margin-right: auto;
  color: #31235D;
  background-color: #E6E6FA;
}

.main_part {
margin: 10%;
}

.main-ul {
list-style-image: disc;
}

.contacts-mail-text {
  margin-left: auto;
  margin-right: auto;
  margin-left: 2rem;
  color: #579AC1;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.code {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width:70%;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h3 {
  font-size: 1.5em;
  text-align: center;
  color: #000000;
}

.a{ 
  color: #000000;
}

.logo {
  height: 50px;
}
